.home-container {
  margin: 8% 0;
  font-family: "Noto Sans JP", sans-serif;
}

.home-container i {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .home-container {
    margin: 10% 0;
    font-family: "Noto Sans JP", sans-serif;
  }

  .card-container .card-body .card-title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 990px) {
  .image-container-reg, .image-container{
    display: flexbox;
  }
  
  .card-container .card-img {
    width: 130%;
    height: 90%;
    margin-left: 30%;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .image-container-reg, .image-container{
    display: none;
  }

  #login-container .col-md-5{
    width: 100%; 
  }
  .card-container .card-img {
    width: 40%;
    margin-left: 30%;
  }
}
@media only screen and (max-width: 600px) {
  .home-container {
    margin: 15% 0;
    font-family: "Noto Sans JP", sans-serif;
  }
}

@media only screen and (max-width: 400px) {
  .home-container {
    margin: 17% 0;
    font-family: "Noto Sans JP", sans-serif;
  }
}


.nav-link{
  font-size: 14px;
}

.nav-link:focus{
  color: #007bff !important;
}
.nav-link:hover{
  color: #007bff !important;
}
.dropdown-toggle {
  color: rgba(0,0,0,.5) !important;
}

.dropdown-toggle:focus{
  color: #0066ff !important;
}
.dropdown-toggle:hover{
  color: #0066ff !important;
}
.dropdown-item{
  color: #0066ff !important;

}
 .dropdown-item:hover{
  color: #0066ff !important;
} 
.dropdown-item:active{
  color: #0066ff !important;
  background-color: white !important;
}

.dropdown-item{
  font-size: 14px;
}

.dropdown-menu{
  border: 1px solid rgba(197, 195, 195, 0.5);
  border-radius: 3% !important;
}

.home-sub-container h3 {
  margin-top: 3%;
  text-align: center;
}

.modal-container {
  font-family: "Noto Sans JP", sans-serif;
}

.modal-container label{
  font-size: 14px;
}

.modal-container input, select{
  font-size: 13px;
}

.btn:focus {
  outline: none;
  box-shadow: none !important;
}

 input:focus{
  outline: none;
  box-shadow: none !important;
  border-color: rgb(184, 183, 183) !important;
}

.appt-modal label {
  font-size: 15px;
  color: rgb(100, 100, 100);
}

.appt-modal span {
  font-size: 15px;
  margin-left: 1%;
  font-weight: 580;
  /* color: rgb(138, 138, 138); */
}

.navbar-container {
  font-family: "Noto Sans JP", sans-serif;
}

.navbar-container h3 {
  font-weight: 600;
}

.navbar-container h3:hover{
  color: #0066ff;
}

.image-container {
  height: 320px;
  position: relative;
  background-color: #28a745;
  /* border: 3px solid green; */
}

.image-container h1 {
  margin: 0;
  position: absolute;
  text-align: center;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.image-container-reg {
  height: 450px;
  position: relative;
  background-color: #007bff;
}

.image-container-reg h1 {
  margin: 0;
  position: absolute;
  text-align: center;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card-img {
  margin-left: 10%;
  padding-right: 0%;
}
.card-img-top {
  padding: 0 25%;
}
.card-container .card-body {
  padding: 0.7rem;
}

.card-container .card-body h6 span {
  font-weight: 600;
}

.card-container i {
  cursor: pointer;
}

.card-container h4 {
  font-weight: 500;
}

.card-container h5 {
  font-size: 17px;
  font-weight: 500;
}

.card-container h6 {
  font-weight: 500;
  color: rgb(95, 94, 94);
}

.card-container p {
  font-size: 16px;
  color: rgb(95, 94, 94);
  font-weight: 500;
}

.ward-container h4 {
  font-weight: 500;
}

.ward-container i {
  cursor: pointer;
}

.ward-container h5 {
  font-size: 17px;
  font-weight: 500;
}

.ward-container h6 {
  font-weight: 500;
  color: rgb(95, 94, 94);
}

.ward-container p {
  font-size: 16px;
  color: rgb(95, 94, 94);
  font-weight: 500;
}

.scroll-to-top {
  position: fixed;
  width: 100%;
  left: 92%;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: rgb(93, 99, 93);
}
